@{
    ViewBag.Title = StenoCryptor.Web.Localization.Views.Tools.ToolsTitle;
}

<h2>@ViewBag.Title</h2>

<ul>
    <li>@Html.ActionLink(StenoCryptor.Web.Localization.Views.Tools.CompareStrings, "CompareStrings")</li>
</ul>
