@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@StenoCryptor.Web.Localization.Views.Shared.Error</title>
</head>
<body>
    <h2>
        @StenoCryptor.Web.Localization.Views.Shared.ErrorHeader
    </h2>

    @{
        if (TempData.Keys.Contains(TempDataKeys.ERROR))
        {
        <p>@TempData[TempDataKeys.ERROR].ToString()</p>
        }
    }

</body>
</html>
