@using StenoCryptor.Web.Controllers

@{
    ViewBag.Title = StenoCryptor.Web.Localization.Views.Home.ExtractDwm;
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm(HomeController.DETECT, HomeController.CONTROLLER, FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    
}