@{
    ViewBag.Title = StenoCryptor.Web.Localization.Views.Home.ExtractResult;
}

<h2>@ViewBag.Title</h2>

<p>
    @StenoCryptor.Web.Localization.Views.Home.MessageExtracted
</p>

<p>
    @StenoCryptor.Web.Localization.Views.Home.Message
    <p>
        @ViewBag.Message
    </p>
</p>

