@{
    ViewBag.Title = StenoCryptor.Web.Localization.Views.Home.Result;
}

<h2>@ViewBag.Title</h2>

<p>
    @string.Format(StenoCryptor.Web.Localization.Views.Home.FileProcessed, System.IO.Path.GetFileName((string)TempData[TempDataKeys.FILE_NAME]))
</p>
<p>
    @Html.ActionLink(StenoCryptor.Web.Localization.Views.Home.Download, HomeControllerActions.DOWNLOAD)
</p>